.search-bar-form {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.search-bar-form input[type="text"] {
  width: 400px;
  border: 1px solid #c6d0d2;
  padding: 6px;
  border-radius: 5px;
}

.search-bar-form input[type="text"]:focus {
  width: 400px;
  border: 1px solid #467179;
  outline: none;
}
